<div class="naicanvas"><%- title %></div>
<div id="homepage">
    <img src="/images/Banner.png" alt="Art Shop Logo" class="logo" width="100%" height="700">
    <caption>Art Shop</caption>
    <p>Where artists and the public can buy and sell art</p>
    <button id="discover-btn">Discover Art</button>
</div>