<div class="naicanvas"><%- title %></div>
<div id="homepage">
    <img src="/images/Banner.png" alt="Art Shop Logo" class="logo" width="100%" height="700">
    <div id="about-me">
        <h2>About Nai Canvas</h2>
        <p>Nai Canvas is a platform where artists can showcase their work and the public can discover and purchase unique art pieces.</p>
        <p>Explore our categories to find art that resonates with you.</p>
        <a href="/categories"><button id="discover-btn" >Discover Art</button></a>
    </div>
    
</div>