<div id="login-page">
    <h2><%- title %></h2>
    <form id="login-form" action="/login" method="POST">

        <p>Please Login</p>
        <input type="email" id="email" name="email" required placeholder="Email address">
        <input type="password" id="password_hash" name="password_hash" required placeholder="Password">
        <span id="forgot-password"><a href="/forgot-password">Forgot Password?</a></span>
        

        <button type="submit" id="login-btn">Login</button>
        <p>Dont have an account? <a href="/signup">Sign up</a></p>
   
    </form>
</div>
