<div id="signup-page">
    <h2><%- title %></h2>
    <form id="signup-form" action="/login" method="post">
        <p>Create an Account</p>
        <input type="text" id="username" name="username" required placeholder="Username">
        <input type="email" id="email" name="email" required placeholder="Email address">
        <input type="password" id="hash_password" name="hash_password" required placeholder="Password">
        <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm Password">
        <button type="submit" id="signup-btn">Sign Up</button>
        <p>Already have an account? <a href="/login">Login</a></p>
    </form>

</div>