<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bettina Menya">
    <meta name="description" content="Online art store for different artists">
    
    <meta property="og:title" content="Nai Canvas">
    <meta property="og:description" content="Online art store for different artists">
    <meta property="og:image" content="https://github.com/Bettina-M/dev_practice/blob/f2304aa397cb0cde9ff57dbe58fdff0c74617a3e/art_shop/public/images/Logo%20original.png">
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Nai Canvas">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nai Canvas" />
    <meta name="twitter:description" content="Online art store for different artists." />
    <meta name="twitter:image" content="https://github.com/Bettina-M/dev_practice/blob/f2304aa397cb0cde9ff57dbe58fdff0c74617a3e/art_shop/public/images/Logo%20original.png" />
    <meta name="twitter:site" content="@mywebsite" />
    <meta name="twitter:creator" content="@author" />
    <title><%- title %>| Nai Canvas</title>
    <link rel="favicon" href="/art_shop/public/images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
</head>